# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
ENV/
.env
.env.*

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/
*.swp

# Data/secrets
*.sqlite3
*.db
bigsave-6767d8651634.json 
sample_data/ 